<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel='stylesheet' href='../style/about.css'>
        <title></title>
    </head>
    <body>
        <div class="header">
            <a href="/" class="logo">Daily Writing Goals</a>
            <div class="header-right">
                <a href="/write">Write</a>
                <a href="/quotes">Favorite Quotes</a>
                <a href="/resources">Resources</a>
                <a href="/about">About</a>
                <a class="login" href="{{link}}">{{status}}</a>
            </div>
        </div>
        <div class = "text">
            <p>Thank you for coming to my site! I am a college freshman at Georgia Tech who wanted to create
      a tool to help writers overcome their creative blocks. This tool allows writers to write some amount
      every day so that their creative skills remain sharp allowing for writer's to be less "blocked" when they
      go to write their next piece. The idea is that by making a user write every day, the creative writing skills
      would be increased allowing for writers to make more connections in their work. The site also provides
      motivational quotes to show the user that they are not the only ones that struggle from writer's block
      and that they can beat it too!</p>
        </div>
    </body>
</html>
