<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../style/resources.css">
        <title></title>
    </head>
    <body>
        <div class="header">
            <a href="/" class="logo">Daily Writing Goals</a>
            <div class="header-right">
                <a href="/write">Write</a>
                <a href="/quotes">Favorite Quotes</a>
                <a href="/resources">Resources</a>
                <a href="/about">About</a>
                <a class="login" href="{{link}}">{{status}}</a>
            </div>
        </div>
        <div class = "text">
            <h2 style="text-align: center;">Resources</h2>
            <h5>Helpful Websites:</h5>
            <p><a href="https://www.reddit.com/r/WritingPrompts/">r/WritingPrompts</a>: This website provides a large collection of writing prompts from community members that you can answer and display for the other members to read.</p>
            <p><a href="https://writeordie.com">Write or Die</a>: This unique website provides users with various unpleasant sounds causing the writer to keep on writing.</p>
            <p><a href="http://klock.work">KlockWork</a>: This website provides example titles for a work based on an entered noun in order to generate an idea.</p>
            <p><a href="https://www.writersblock.org">Writer's Block</a>: This organization dedicated a website to writer's block which includes more information about the condition.</p>
            <br>
            <h5>Other Helpful Items</h5>
            <p><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2277565/pdf/canfamphys00047-0094.pdf">Resolving Writer's Block</a> by Patricia Huston</p>
            <p><a href="https://www.pri.org/stories/2016-04-05/creative-block-here-s-neuroscience-how-fix">Creative block? Here’s the neuroscience of how to fix that.</a></p>
            <p><a href="https://www.theparisreview.org/blog/2018/03/19/advice-from-12-famous-authors-on-writers-block/">On Writer’s Block: Advice from Twelve Writers</a></p>
            <p><a href="https://medium.com/the-mission/how-famous-writers-overcome-writers-block-and-reawaken-their-creativity-7c604f73697c">How Famous Writers Overcome Writer’s Block and Reawaken Their Creativity</a></p>
        </div>
    </body>
</html>
